

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(245, 212, 212, 0.5), rgba(243, 226, 226, 0.5)), 
    url("/Otp/image/dormitory6.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.logo img {
    padding: 0 30px;
    width: 200px;
}

h3 {
    color: #353535;
}

.code-container {
    padding: 20px;
    text-align: center;
    position: relative;
    
}
.code-input {
    width: 80px;
    height: 80px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.submit-btn {
    margin-top: 3rem;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

