body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #FADEC8;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 143px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 360px;
    height: 88px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    transform: scale(1.025);
}
.menu-buttons {
    display: flex;
    gap: 48px;
    align-items: center;
}
.menu-buttons button {
    background: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    border: none;
    display: flex;
    align-items: center;
}
.bx-chevron-right{
    font-size: 40px;
}
.icon-buttons {
    display: flex;
    gap: 10px;
}
.input-condition{
    font-size: 24px;
    border: none;
}
.icon-buttons button {
    background: none;
    color: #ffffff;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}
.bxs-user-circle {
    background: none;
    color: black;
    font-size: 55px;
}
#account-btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
button:active {
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}
/*baby*/
.main{

    width: 100%;
    text-align: center;
}
.main-title{
    text-align: left;
    margin: 30px 0 0 10%;
    font-size: 36px;
    font-weight: bold;
}
.bx-left-arrow-alt{
    font-size:35px;
    margin: 10px 25px 0 0;
    color: #999999;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
}
/*left*/
.right{
    width: 70%;
    margin-right: 75px;
    height: 72vh;
    border-radius: 5px;
    margin-top: 20px;
}
.main-top{
    font-size: 28px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}
.title{
    font-size: 14px;
    width: 200px;
    margin: 35px 0 0 0;
}
.review-card {
    background: #ffffff;
    width: 95%;
    height: 200px;
    margin: 15px auto;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
}
.review-header {
    display: grid;
    flex-direction: column;
    margin: auto 20px;
    gap: 10px;
    text-align: left;
}
.score {
    font-size: 36px;
    color: #007AFF;
    text-align: center;
}
.status {
    font-size: 18px;
}
.review-count {
    font-size: 14px;
    color: #63A2E7;
    margin: 0 0 35px 0;
}
.bx-check-circle{
    color: green;
    font-size: 18px;
}
.review-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.review-item {
    width: 48%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}
.score-reviwe{
    border-left: 0.25px solid #000000;
    padding-left: 0.3rem; 
    width: 39%;
}
.score-reviwe .title{
    font-size: 22px;
    font-weight: 800;
}
.chb{
    margin: 5px;
    display: grid;
    gap: 10px;
    text-align: left;
    accent-color: #007AFF;
}
.chb-item{
    font-size: 16px;
    color: #757575;
}

.progress-container {
    width: 70%;
    height: 8px;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.progress-bar {
    height: 100%;
    background: #0DAA3F;
    border-radius: 5px;
}
.subtitle{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
.review-item p {
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
}
.review-item .score {
    font-size: 16px;
    font-weight: bold;
    color: #0DAA3F;
}
.peoploreview{
    background: #ffffff;
    width: 95%;
    height: 200px;
    margin: 15px auto;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
}
.maincard{
    border-right: 2px solid #757575;
    padding-right: 0.3rem;
    display: grid;
    flex-direction: column;
    margin: auto 30px;
    gap: 10px;
    text-align: left;
    border-right: 1px solid #757575;
    padding-right: 0.3rem; 
    height: 100%;
}
.cardtitle{
    display: flex;
    align-items: flex-end;
    color: #007AFF;
}
.cardtitle p{
    font-size: 36px;
    margin: 0 0 0 0;
}
.cardscore{
    align-items: center;
}
.cardstatus{
    color: #757575;
    margin: -30px 0 0 10px;
    font-size: 14px;
}
.maincardright{
    text-align: left;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0 10px;
}
.maincardrighttitle{
    text-align: center;
    font-size: 36px;
}
.maincardrightsub,.maincardrightunder{
    margin: 10px;
    font-size: 16px;
    text-align: left;
    color: #757575;
}

