* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FADEC8;
}

nav {
    display: flex;
    background-color: white;
    height: 130px;
    align-items: center;
    justify-content: space-between;
       
}

.logo img {
    width: 300px;
    height: 300px;
}

.home a{
    display: flex;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.dropdown button {
    display: flex;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    background: none;
    border: none;
    
    cursor: pointer;
}

.dropdown {
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 120px;
    padding: 8px 0;
}

.dropdown-content a {
    display: block;
    width: 200px;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.warn a{
    display: flex;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #AB887C;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.notificationsW {
    width: 60px;
    height: 60px;
    background-color: #AB887C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notificationsW img {
    width: 50px;  /* ขนาดรูป 50px */
    height: 50px; /* ขนาดรูป 50px */
}

.heart {
    width: 60px;
    height: 60px;
    background-color: #AB887C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart img {
    width: 50px;  /* ขนาดรูป 50px */
    height: 50px; /* ขนาดรูป 50px */
}

.proFile-icon img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.login a{
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    color: #fff;
    background-color: #20B2AA;
    text-decoration: none;
    
}

.box {
    display: flex;
    align-items: center;
    margin: 2rem;
}



.top img {
    display: flex;
    width: 70px;
    height: 70px;
}
