body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #FADEC8;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 143px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 143px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 360px;
    height: 88px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    color: #007aff;
}
.menu-buttons {
    display: flex;
    gap: 48px;
    align-items: center;
}
.menu-buttons button {
    background: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    border: none;
    display: flex;
    align-items: center;
}
.bx-chevron-right{
    font-size: 40px;
}
.icon-buttons {
    display: flex;
    gap: 10px;
}
.input-condition{
    font-size: 24px;
    border: none;
}
.icon-buttons button {
    background: none;
    color: #ffffff;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}
.imagesleft img{
    height: 200px;
    width: 250px;
}
.bxs-user-circle {
    background: none;
    color: black;
    font-size: 55px;
}
#account-btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
button:active {
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}
.main{
    width: 80%;
    
}
.tile{
    margin: 2% 0 2% 0;
    text-align: center;
    font-size: 30px;
    font-weight: 550;
}
.sub{
    font-size: 18px;
    margin-bottom: 20px;
}
.un{
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    display: flex;
}
.imagesleft{
    padding: 20px;
    display: flex;
    align-items: center;
}
.imagesleft img{
    border-radius: 10px;
    height: 210px;
    width: 250px;
}
.imagesleft-t img{
    height: 100px;
    width: 200px;
    margin: 10px 20px;
}
.imagesleft-t{
    display: flex;
    flex-direction: column;
}
.right{
    width: 50%;
    display: flex;
}
.details {
    flex: 1;
    padding: 0 30px;
    margin-top: 40px;
}
.details h2 {
    margin: 0;
    font-size: 32px;
}
.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    text-align: right;
}
.subb{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.subb .bx{
    font-size: 30px;
    margin: 5px;
}
.reviwe{
    display: flex;
}
.vat{
    color: #939393;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
}
.input-cancle{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.btn{
    margin: 170px 0 10px 0;
    display: flex;
}
.cancle{
    background: none;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #757575;
    margin-right: 5px;
}
.next{
    background-color: #20B2AA;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
}
